<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>App</title>

    {{#if isDevelopment}}
      <script
        nonce='{{nonce}}'
        type='module'
        src='http://localhost:3000/@vite/client'
      ></script>
      <script nonce='{{nonce}}' type='module'>
        import RefreshRuntime from 'http://localhost:3000/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window); window.$RefreshReg$ = () =>
        {}; window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>
    {{/if}}
    <script nonce='{{nonce}}' type='module' src='{{mainJS}}'></script>
    {{#each cssFiles}}
      <link nonce='{{nonce}}' rel='stylesheet' href='{{this}}' />
    {{/each}}
  </head>
  <body>
    <div id='root' data-testid='app-root'>{{message}}</div>
  </body>
</html>